<%- include('../partials/admheader') %>

<
<div class="container-scroller">
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: hsl(0, 10%, 92%);">
    <div class="navbar-brand-wrapper d-flex align-items-center">
      <a class="navbar-brand brand-logo" href="/admin/dashboard" style="text-decoration: none;">
        <span style="font-size: 24px; font-weight: bold; color: #333; display: flex; align-items: center;">
          <i class="mdi mdi-glasses mr-2" style="font-size: 28px;"></i>
          <span style="margin-left: 5px;">EYEGAZE</span>
        </span>
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-end">
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item">
          <span class="nav-link nav-profile">Akhil</span>
        </li>
      </ul>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="row row-offcanvas row-offcanvas-right">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/products">
              <span class="menu-title">Products</span>
              <i class="mdi mdi-package-variant-closed menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">
              <span class="menu-title">Categories</span>
              <i class="mdi mdi-shape menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/brand">
              <span class="menu-title">Brands</span>
              <i class="mdi mdi-tag menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">
              <span class="menu-title">Orders</span>
              <i class="mdi mdi-cart menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/sales">
              <span class="menu-title">sales</span>
              <i class="mdi mdi-cart menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/offers">
              <span class="menu-title">Offers</span>
              <i class="mdi mdi-gift menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">
              <span class="menu-title">Users</span>
              <i class="mdi mdi-account-multiple menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon">
              <span class="menu-title">Coupons</span>
              <i class="mdi mdi-ticket-percent menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/banners">
              <span class="menu-title">Banners</span>
              <i class="mdi mdi-image menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/banners">
              <span class="menu-title">logout</span>
              <i class="mdi mdi-image menu-icon"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
        <!-- partial -->
<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">User List</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.userName %></td>
                                <td><%= user.userEmail %></td>
                                <td><%= user.mobileNo %></td>
                                <td>
                                    <% if(user.is_blocked) { %>
                                        <a href="#" class="btn btn-danger btn-sm" onclick="confirmUnblock('<%= user._id %>')">Blocked</a>
                                    <% } else { %>
                                        <a href="#" class="btn btn-success btn-sm" onclick="confirmBlock('<%= user._id %>')">Active</a>
                                    <% } %>
                                      
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
              <!-- Pagination Controls -->
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    <% } %>

                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>

                    <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
 function confirmBlock(userId) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, block user!',
        cancelButtonText: 'Cancel',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/users/block_user?id=${userId}`, {
            method: 'GET'
          })
            .then(response => response.json())
            .then(data => {
              if (data.message === 'User blocked successfully') {
                Swal.fire(
                  'Blocked!',
                  'The user has been blocked.',
                  'success'
                ).then(() => {
                  window.location.reload();
                });
              } else {
                Swal.fire(
                  'Error!',
                  'There was a problem blocking the user.',
                  'error'
                );
              }
            })
            .catch(error => {
              Swal.fire(
                'Error!',
                'There was a problem blocking the user.',
                'error'
              );
            });
        }
      });
    }

    function confirmUnblock(userId) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, unblock user!',
        cancelButtonText: 'Cancel',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/users/unblock_user?id=${userId}`, {
            method: 'GET'
          })
            .then(response => response.json())
            .then(data => {
              if (data.message === 'User unblocked successfully') {
                Swal.fire(
                  'Unblocked!',
                  'The user has been unblocked.',
                  'success'
                ).then(() => {
                  window.location.reload();
                });
              } else {
                Swal.fire(
                  'Error!',
                  'There was a problem unblocking the user.',
                  'error'
                );
              }
            })
            .catch(error => {
              Swal.fire(
                'Error!',
                'There was a problem unblocking the user.',
                'error'
              );
            });
        }
      });
    }


  </script>


<%- include('../partials/footer') %>