<%- include('../partials/header') %>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-9">
                            <div id="colorlib-logo"><a href="index.html">Footwear</a></div>
                        </div>
                        <div class="col-sm-5 col-md-3">
                            <form action="#" class="search-wrap">
                                <div class="form-group">
                                    <input type="search" class="form-control search" placeholder="Search">
                                    <button class="btn btn-primary submit-search text-center" type="submit"><i
                                            class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left menu-1">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li class="has-dropdown active">
                                    <a href="men.html">Men</a>
                                    <ul class="dropdown">
                                        <li><a href="product-detail.html">Product Detail</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="order-complete.html">Order Complete</a></li>
                                        <li><a href="add-to-wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                                <li><a href="women.html">Women</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="cart"><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 text-center">
                            <div class="row">
                                <div class="owl-carousel2">
                                    <div class="item">
                                        <div class="col">
                                            <h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col">
                                            <h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- content start here -->

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="bread"><span><a href="index.html">Home</a></span> / <span>Checkout</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="colorlib-product">
            <div class="container">
                <!-- <div class="row row-pb-lg">
                <div class="col-sm-10 offset-md-1">
                    <div class="process-wrap">
                        <div class="process text-center active">
                            <p><span>01</span></p>
                            <h3>Shopping Cart</h3>
                        </div>
                        <div class="process text-center active">
                            <p><span>02</span></p>
                            <h3>Checkout</h3>
                        </div>
                        <div class="process text-center">
                            <p><span>03</span></p>
                            <h3>Order Complete</h3>
                        </div>
                    </div>
                </div>
            </div> -->
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Select an Address</h2>
                        <div class="add-new-address">
                            <a href="/address">Add New Address</a>
                        </div>
                        <% address.forEach(function(addr, index) { %>
                            <div class="address-box">
                                <input type="radio" name="address" value="<%= addr._id %>">
                                <div class="address-details">
                                    <p><strong>
                                            <%= addr.addressName %>
                                        </strong></p>
                                    <p>
                                        <%= addr.addressHouse %>, <%= addr.addressStreet %>
                                    </p>
                                    <p>
                                        <%= addr.addressCity %>, <%= addr.addressDistrict %>
                                    </p>
                                    <p>
                                        <%= addr.addressState %> - <%= addr.addressPin %>
                                    </p>
                                    <p>Email: <%= addr.addressEmail %>
                                    </p>
                                    <p>Mobile: <%= addr.addressMobile %>
                                    </p>
                                </div>
                            </div>
                            <% }) %>


                    </div>


                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cart-detail">
                                    <h2>Cart Total</h2>
                                    <ul>
                                        <li>
                                            <span>Subtotal</span> <span>&#8377;<%=total%></span>
                                            <!-- <ul>
                                            <li><span>1 x Product Name</span> <span>$99.00</span></li>
                                            <li><span>1 x Product Name</span> <span>$78.00</span></li>
                                        </ul>
                                    </li> -->
                                            <!-- <li><span>Shipping</span> <span>$0.00</span></li> -->
                                        <li><span>Order Total</span> <span>&#8377;<%=total%></span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="w-100"></div>

                            <div class="col-md-12">
                                <div class="cart-detail">
                                    <h2>Payment Method</h2>
                                    <!-- <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                           <label><input type="radio" name="optradio"> Direct Bank Tranfer</label>
                                        </div>
                                    </div>
                                </div> -->
                                    <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                           <label><input type="radio" name="optradio" value="razorpay"> online payment</label>
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" value="cod"> COD</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                           <label><input type="checkbox" value=""> I have read and accept the terms and conditions</label>
                                        </div>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p><button class="btn btn-primary" id="placeOrderBtn">Place an order</button> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content end here -->

        <!-- ///	 Footer start here-->
        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col footer-col colorlib-widget">
                        <h4>About Footwear</h4>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                            unorthographic life</p>
                        <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                        </p>
                    </div>
                    <div class="col footer-col colorlib-widget">
                        <h4>Customer Care</h4>
                        <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Returns/Exchange</a></li>
                            <li><a href="#">Gift Voucher</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Special</a></li>
                            <li><a href="#">Customer Services</a></li>
                            <li><a href="#">Site maps</a></li>
                        </ul>
                        </p>
                    </div>
                    <div class="col footer-col colorlib-widget">
                        <h4>Information</h4>
                        <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Order Tracking</a></li>
                        </ul>
                        </p>
                    </div>

                    <div class="col footer-col">
                        <h4>News</h4>
                        <ul class="colorlib-footer-links">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Exhibitions</a></li>
                        </ul>
                    </div>

                    <div class="col footer-col">
                        <h4>Contact Information</h4>
                        <ul class="colorlib-footer-links">
                            <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                            <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                            <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                            <li><a href="#">yoursite.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>
                            <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </span>
                            <span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a>
                                , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

    <style>
        /* Style for the address boxes */
        .address-box {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .address-box input[type="radio"] {
            margin-right: 10px;
            cursor: pointer;
        }

        .address-details p {
            margin: 0;
        }

        /* Style for the 'Add New Address' link */
        .add-new-address {
            text-align: center;
            margin-top: 20px;
        }

        .add-new-address a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

        .add-new-address a:hover {
            text-decoration: underline;
        }

        /* Style for the address boxes */
        .address-box {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .address-box input[type="radio"] {
            margin-right: 15px;
            cursor: pointer;
            accent-color: #007bff;
            /* For modern browsers with support for accent-color */
        }

        .address-details p {
            margin: 0;
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }

        .address-details p:first-child {
            font-weight: bold;
        }

        /* Style for the 'Add New Address' link */
        .add-new-address {
            text-align: center;
            margin-top: 20px;
        }

        .add-new-address a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
        }

        .add-new-address a:hover {
            text-decoration: underline;
            color: #0056b3;
        }
    </style>

<script>
    document.getElementById('placeOrderBtn').addEventListener('click', async function (event) {
event.preventDefault();

const paymentMethod = document.querySelector('input[name="optradio"]:checked').value;
const addressId = document.querySelector('input[name="address"]:checked').value;

if (paymentMethod === 'razorpay') {
    try {
        // First, create a Razorpay order
        const razorpayOrderResponse = await fetch('/place-order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                paymentMethod: paymentMethod,
                addressId: addressId
            })
        });

        const razorpayOrderData = await razorpayOrderResponse.json();
console.log(razorpayOrderData,"hhhhhhhhhhhhhhhhhh");

        if (razorpayOrderData.success) {
            // Proceed with Razorpay payment
            var options = {
                key: razorpayOrderData.key_id,
                amount: razorpayOrderData.amount,
                currency: razorpayOrderData.currency,
                name: "Your Company Name",
                description: "Test Transaction",
                order_id: razorpayOrderData.order_id,
                handler: function (response) {
                    // On successful payment, send payment details to the backend
                    fetch('/place-order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            paymentMethod: paymentMethod,
                            addressId: addressId,
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_order_id: response.razorpay_order_id
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = data.redirect;
                        } else {
                            alert('Error placing order: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                },
                prefill: {
                    name: "Your Name",
                    email: "your-email@example.com",
                    contact: "9999999999"
                },
                theme: {
                    color: "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        } else {
            alert('Error creating Razorpay order: ' + razorpayOrderData.message);
        }
    } catch (error) {
        console.error('Error:', error);
    }
} else if (paymentMethod === 'cod') {
    // COD payment, directly place the order
    fetch('/place-order', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            paymentMethod: paymentMethod,
            addressId: addressId
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            window.location.href = data.redirect;
        } else {
            alert('Error placing order: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
});

</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="/js/jquery.min.js"></script>
    <!-- popper -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap 4.1 -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- jQuery easing -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->

    <!-- Main -->
    <script src="/js/main.js"></script>

    <%- include('../partials/footer') %>



    
    