<%- include('../partials/header') %>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">Eyegaze</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							<form action="#" class="search-wrap">
								<div class="form-group">
									<input type="search" class="form-control search" placeholder="Search">
									<button class="btn btn-primary submit-search text-center" type="submit"><i
											class="icon-search"></i></button>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li class="has-dropdown active">
									<a href="men.html">Men</a>
									<ul class="dropdown">
										<li><a href="product-detail.html">Product Detail</a></li>
										<li><a href="cart.html">Shopping Cart</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="order-complete.html">Order Complete</a></li>
										<li><a href="add-to-wishlist.html">Wishlist</a></li>
									</ul>
								</li>
								<li><a href="women.html">Women</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i> Cart [0]</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="index.html">Home</a></span> / <span>Product Details</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
						<div class="image-container">
							<div class="main-image">

								<img id="main-img" src="/productimage/<%=pro.productimages[0]%>" class="img-fluid"
									alt="Main Image">
							</div>
							<div class="thumbnail-images">
								<div class="thumb" onclick="changeImage('/productimage/<%=pro.productimages[0]%>')">
									<img src="/productimage/<%=pro.productimages[0]%>" class="img-fluid"
										alt="Thumbnail 1">
								</div>
								<div class="thumb" onclick="changeImage('/productimage/<%=pro.productimages[1]%>')">
									<img src="/productimage/<%=pro.productimages[1]%>" class="img-fluid"
										alt="Thumbnail 2">
								</div>
								<div class="thumb" onclick="changeImage('/productimage/<%=pro.productimages[2]%>')">
									<img src="/productimage/<%=pro.productimages[2]%>" class="img-fluid"
										alt="Thumbnail 3">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<!-- Product Name -->
							<h3>
								<%= pro.productName%>
							</h3>

							<!-- Product Description -->
							<p>
								<%= pro.description%>
							</p>
							<!-- Product Price -->
							<p class="price">
								<span>RS:<%= pro.price%></span>
							</p>

							<!-- Brand, Category, and Gender -->
							<p><strong>Brand:</strong> [<%=pro.productBrand.brandName%>]</p>
							<p><strong>Category:</strong> [<%=pro.category.categoryName%>]</p>
							<p ><strong>Gender:</strong> [<%=pro.gender%>]</p>

							<% if (pro.stock<= 5) { %>
								<span class="stock-left text-danger ml-2">Only <%= pro.stock %> in stock</span>
							  <% } else { %>
							
							  <% } %>

							<!-- Add to Cart and Add to Wishlist Buttons -->
							<div class="row">
								<div class="col-sm-12 text-center">
									<div class="d-flex align-items-center justify-content-center">
										<!-- Quantity Input Field -->
										<div class="quantity-container me-3">
											<button type="button" class="btn btn-secondary btn-decrement">-</button>
											<input type="number" id="quantity" name="quantity" value="1" min="1" max="<%= pro.stock< 5 ?pro.stock:5 %>"/>
											<button type="button" class="btn btn-secondary btn-increment">+</button>
										</div>
										
										<!-- Add to Cart Button -->
										<p class="addtocart mb-0">
											<a href="javascript:void(0)" class="btn btn-primary btn-addtocart" onclick="addcart('<%= pro._id %>', document.getElementById('quantity').value)">
												<i class="icon-shopping-cart"></i> Add to Cart
											</a>
										</p>
									</div>
									<p class="addtowishlist mt-3">
										<a href="wishlist.html" class="btn btn-secondary btn-addtowishlist">
											<i class="icon-heart"></i> Add to Wishlist
										</a>
									</p>
								</div>
								
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-12 pills">
								<div class="bd-example bd-example-tabs">
									<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

										<li class="nav-item">
											<a class="nav-link active" id="pills-description-tab" data-toggle="pill"
												href="#pills-description" role="tab" aria-controls="pills-description"
												aria-expanded="true">Description</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill"
												href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer"
												aria-expanded="true">Manufacturer</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-review-tab" data-toggle="pill"
												href="#pills-review" role="tab" aria-controls="pills-review"
												aria-expanded="true">Review</a>
										</li>
									</ul>

									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane border fade show active" id="pills-description"
											role="tabpanel" aria-labelledby="pills-description-tab">
											<p>Even the all-powerful Pointing has no control about the blind texts it is
												an almost unorthographic life One day however a small line of blind text
												by the name of Lorem Ipsum decided to leave for the far World of
												Grammar.</p>
											<p>When she reached the first hills of the Italic Mountains, she had a last
												view back on the skyline of her hometown Bookmarksgrove, the headline of
												Alphabet Village and the subline of her own road, the Line Lane. Pityful
												a rethoric question ran over her cheek, then she continued her way.</p>
											<ul>
												<li>The Big Oxmox advised her not to do so</li>
												<li>Because there were thousands of bad Commas</li>
												<li>Wild Question Marks and devious Semikoli</li>
												<li>She packed her seven versalia</li>
												<li>tial into the belt and made herself on the way.</li>
											</ul>
										</div>

										<div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel"
											aria-labelledby="pills-manufacturer-tab">
											<p>Even the all-powerful Pointing has no control about the blind texts it is
												an almost unorthographic life One day however a small line of blind text
												by the name of Lorem Ipsum decided to leave for the far World of
												Grammar.</p>
											<p>When she reached the first hills of the Italic Mountains, she had a last
												view back on the skyline of her hometown Bookmarksgrove, the headline of
												Alphabet Village and the subline of her own road, the Line Lane. Pityful
												a rethoric question ran over her cheek, then she continued her way.</p>
										</div>

										<div class="tab-pane border fade" id="pills-review" role="tabpanel"
											aria-labelledby="pills-review-tab">
											<div class="row">
												<div class="col-md-8">
													<h3 class="head">23 Reviews</h3>
													<div class="review">
														<div class="user-img"
															style="background-image: url(images/person1.jpg)"></div>
														<div class="desc">
															<h4>
																<span class="text-left">Jacob Webb</span>
																<span class="text-right">14 March 2018</span>
															</h4>
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-half"></i>
																	<i class="icon-star-empty"></i>
																</span>
																<span class="text-right"><a href="#" class="reply"><i
																			class="icon-reply"></i></a></span>
															</p>
															<p>When she reached the first hills of the Italic Mountains,
																she had a last view back on the skyline of her hometown
																Bookmarksgrov</p>
														</div>
													</div>
													<div class="review">
														<div class="user-img"
															style="background-image: url(images/person2.jpg)"></div>
														<div class="desc">
															<h4>
																<span class="text-left">Jacob Webb</span>
																<span class="text-right">14 March 2018</span>
															</h4>
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-half"></i>
																	<i class="icon-star-empty"></i>
																</span>
																<span class="text-right"><a href="#" class="reply"><i
																			class="icon-reply"></i></a></span>
															</p>
															<p>When she reached the first hills of the Italic Mountains,
																she had a last view back on the skyline of her hometown
																Bookmarksgrov</p>
														</div>
													</div>
													<div class="review">
														<div class="user-img"
															style="background-image: url(images/person3.jpg)"></div>
														<div class="desc">
															<h4>
																<span class="text-left">Jacob Webb</span>
																<span class="text-right">14 March 2018</span>
															</h4>
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-half"></i>
																	<i class="icon-star-empty"></i>
																</span>
																<span class="text-right"><a href="#" class="reply"><i
																			class="icon-reply"></i></a></span>
															</p>
															<p>When she reached the first hills of the Italic Mountains,
																she had a last view back on the skyline of her hometown
																Bookmarksgrov</p>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="rating-wrap">
														<h3 class="head">Give a Review</h3>
														<div class="wrap">
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	(98%)
																</span>
																<span>20 Reviews</span>
															</p>
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-empty"></i>
																	(85%)
																</span>
																<span>10 Reviews</span>
															</p>
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-empty"></i>
																	<i class="icon-star-empty"></i>
																	(70%)
																</span>
																<span>5 Reviews</span>
															</p>
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-empty"></i>
																	<i class="icon-star-empty"></i>
																	<i class="icon-star-empty"></i>
																	(10%)
																</span>
																<span>0 Reviews</span>
															</p>
															<p class="star">
																<span>
																	<i class="icon-star-full"></i>
																	<i class="icon-star-empty"></i>
																	<i class="icon-star-empty"></i>
																	<i class="icon-star-empty"></i>
																	<i class="icon-star-empty"></i>
																	(0%)
																</span>
																<span>0 Reviews</span>
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col footer-col colorlib-widget">
						<h4>About Footwear</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
							unorthographic life</p>
						<p>
						<ul class="colorlib-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Customer Care</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="#">Contact</a></li>
							<li><a href="#">Returns/Exchange</a></li>
							<li><a href="#">Gift Voucher</a></li>
							<li><a href="#">Wishlist</a></li>
							<li><a href="#">Special</a></li>
							<li><a href="#">Customer Services</a></li>
							<li><a href="#">Site maps</a></li>
						</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Information</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Delivery Information</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Order Tracking</a></li>
						</ul>
						</p>
					</div>

					<div class="col footer-col">
						<h4>News</h4>
						<ul class="colorlib-footer-links">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Exhibitions</a></li>
						</ul>
					</div>

					<div class="col footer-col">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
							<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="#">yoursite.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="row">
					<div class="col-sm-12 text-center">
						<p>
							<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved | This
								template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
									href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
							<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a>
								, <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>



	<script>
		$(document).ready(function () {

			var quantitiy = 0;
			$('.quantity-right-plus').click(function (e) {

				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				$('#quantity').val(quantity + 1);


				// Increment

			});

			$('.quantity-left-minus').click(function (e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});

		});
	</script>
	<style>
		.image-container {
			display: flex;
		}

		.main-image {
			flex: 3;
			margin-right: 10px;
		}

		.main-image img {
			max-width: 100%;
			height: auto;
		}

		.thumbnail-images {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.thumb {
			cursor: pointer;
			margin-bottom: 10px;
		}

		.thumb img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border: 2px solid #ccc;
			border-radius: 4px;
		}

		.thumb img:hover {
			border-color: #000;
		}

		.product-images {
			flex: 0 0 60%;
			background-color: #f9f9f9;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
		}

		.main-image {
			background-color: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
		}

		.main-image img {
			width: 100%;
			height: auto;
			display: block;
		}
	</style>




	<script>

// 		 function addcart(productId) {
			
//     fetch(`/cart/${productId}`, {
//       method: 'POST',
//     })
//     .then(response => response.json())
//     .then(data => {
		
//       if (data.message === 'User not logged in') {
//         Swal.fire({
//           title: 'Not Logged In',
//           text: 'You need to be logged in to add products to the cart.',
//           icon: 'warning',
//           confirmButtonText: 'Sign In'
//         }).then((result) => {
//           if (result.isConfirmed) {
//             window.location.href = '/sign';
//           }
//         });
//       } else if (data.message === 'Product not found') {
//         Swal.fire({
//           title: 'Error',
//           text: 'Product not found.',
//           icon: 'error',
//           confirmButtonText: 'OK'
//         });
//       } else if (data.message === 'Product added to cart') {
//         Swal.fire({
//           title: 'Success',
//           text: 'Product added to cart.',
//           icon: 'success',
//           confirmButtonText: 'OK'
		   
//         });
//       } else {
//         Swal.fire({
//           title: 'Error',
//           text: 'Something went wrong. Please try again.',
//           icon: 'error',
//           confirmButtonText: 'OK'
//         });
//       }
//     })
//     .catch(error => {
     
//       Swal.fire({
//         title: 'Error',
//         text: 'you are not login just sign',
//         icon: 'error',
//         confirmButtonText: 'OK'
//       }).then(() => {
//         window.location.href = '/sign';
//       });
//     });
//   }
	
	
function addcart(productId,count) {
    fetch(`/cart/${productId}/${count}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      if (response.redirected) {
        window.location.href = response.url;
        return;
      }
      return response.json();
    })
    .then(data => {
      if (data.message === 'Product not found') {
        Swal.fire({
          title: 'Error',
          text: 'Product not found.',
          icon: 'error',
          confirmButtonText: 'OK'
        });
      } else if (data.message === 'Product added to cart') {
        Swal.fire({
          title: 'Success',
          text: 'Product added to cart.',
          icon: 'success',
          confirmButtonText: 'OK'
        });
      } else if (data) {
        Swal.fire({
          title: 'Error',
          text: data.message,
          icon: 'error',
          confirmButtonText: 'OK'
        });
      }
    })
    .catch(error => {
      console.error('Error:', error);
      Swal.fire({
        title: 'Error',
        text: 'Server error. Please try again later.',
        icon: 'error',
        confirmButtonText: 'OK'
      });
    });
  }





	</script>
	<style>

		.quantity-container {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Space between quantity and Add to Cart button */
	margin-left: -317px;
	margin-top: 30px;
}

.quantity-container button {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 10px;
    cursor: pointer;
}

.quantity-container input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0 5px;
}

.btn-decrement, .btn-increment {
    font-size: 16px;
}

/* Optional: Adjust the margin between Add to Cart and Add to Wishlist buttons */
.addtocart, .addtowishlist {
    margin: 0; /* Remove default margin */
}

	</style>
<script>
	// Increment the value when button is clicked
document.querySelector('.btn-increment').addEventListener('click', function() {
    const quantityInput = document.getElementById('quantity');
    const max = parseInt(quantityInput.getAttribute('max'));
    if (parseInt(quantityInput.value) < max) {
        quantityInput.value = parseInt(quantityInput.value) + 1;
    }
});
// Decrement the value when button is clicked
document.querySelector('.btn-decrement').addEventListener('click', function() {
    const quantityInput = document.getElementById('quantity');
    if (parseInt(quantityInput.value) > 1) {
        quantityInput.value = parseInt(quantityInput.value) - 1;
    }
});

///change image function
            
function changeImage(src) {
            document.getElementById('main-img').src = src;
        }
   
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


	<script src="/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->

	<!-- Main -->
	<script src="/js/main.js"></script>

	
	<%- include('../partials/footer') %>